// ******** GENERAL ******** //
$my-color: pink;
$light-grey: #f6f6f6;
$my-red: #ff6060;
$animation-time: 0.2s;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 2.4rem;
    max-width: 1440px;
}

:root {
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 10px;
}

// ******** MIXIN MANAGER ******** //
@mixin reponsive($breakpoint) {
    @if ($breakpoint == phone) {
        @media (max-width: 450px) {
            @content;
        }
    }
    @if ($breakpoint == tablette) {
        @media (max-width: 960px) {
            @content;
        }
    }
    @if ($breakpoint == desktop) {
        @media (max-width: 1200px) {
            @content;
        }
    }
}
// ******** HEADER ******** //
.header {
    display: flex;
    justify-content: space-between;
    margin: 45px 100px 50px 100px;
    @include reponsive(tablette) {
        margin: 20px;
    }

    img {
        display: block;
        height: 68px;
        @include reponsive(tablette) {
            height: 57px;
        }
        @include reponsive(phone) {
            height: 47px;
        }
    }
    @include reponsive(phone) {
        margin: 20px;
    }
}

h2 {
    color: $my-color;
}

.navigation {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;

    @include reponsive(tablette) {
        position: relative;
        gap: 26px;
    }
    @include reponsive(phone) {
        position: relative;
        gap: 26px;
    }

    li {
        font-family: "Montserrat", sans-serif;
        font-size: 2.4rem;
        color: black;
        display: inline-block;
        margin-left: 57px;
        @include reponsive(tablette) {
            display: flex;
            margin-left: 0px;
            position: relative;
            gap: 32px;
        }

        @include reponsive(phone) {
            display: flex;
            margin-left: 0px;
            position: relative;
            gap: 26px;
        }
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: 500;

        @include reponsive(tablette) {
            text-transform: uppercase;
            color: black;
            font-size: 18px;
        }
        @include reponsive(phone) {
            text-transform: uppercase;
            color: black;
            font-size: 12px;
        }
        &:hover {
            text-decoration: underline;
        }

        & .underlined {
            text-decoration: underline;
            color: blue;
        }
    }
}

// ******** MAIN ******** //
.main {
    display: flex;
    flex-direction: column;
    margin: 0 100px 50px 100px;
    gap: 43px;

    @include reponsive(tablette) {
        margin: 0 20px;
        gap: 30px;
    }

    @include reponsive(phone) {
        margin: 0px 20px;
        margin-bottom: 19px;
        gap: 20px;
    }
}

// ******** BANNER ******** //
.banner {
    height: 223px;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("");
    background-size: cover;
    background-position: center;
    position: relative;
    @include reponsive(tablette) {
        height: 167px;
        border-radius: 18px;
    }
    @include reponsive(phone) {
        height: 111px;
        border-radius: 10px;
    }
    &__text {
        display: inline-block;
        color: white;
        font-size: 4.8rem;
        font-weight: 700;
        white-space: nowrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include reponsive(tablette) {
            color: white;
            font-size: 36px;
            width: 90%;
            white-space: unset;

            left: 16px;
            transform: translate(0, -50%);
        }
        @include reponsive(phone) {
            display: flex;
            width: 225px;
            left: 16px;
            transform: translate(0, -50%);
            white-space: unset;

            color: white;
            font-size: 24px;
        }
    }

    &__text::after {
        content: "Chez vous, partout et ailleurs";
        display: inline-block;
        color: blue;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        text-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
        @include reponsive(tablette) {
            display: none;
            font-size: 24px;
        }
    }
}

.text-stroke {
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    @include reponsive(tablette) {
        text-shadow: none;
    }
}

.underlined {
    text-decoration: underline !important;
}

// ******** CARDS ******** //
.affichage-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    background-color: $light-grey;
    border-radius: 25px;
    margin-bottom: 0px;

    width: 100%;

    padding: 56px 50px 50px 50px;
    position: relative;
    @include reponsive(tablette) {
        grid-template-columns: 1fr;
        padding: 0;
        background: none;
        gap: 36px;
        margin-bottom: 0px;
    }
    @include reponsive(phone) {
        grid-template-columns: 1fr;
        padding: 0;
        gap: 22px;

        background: none;
        margin-bottom: 0px;
    }
}

.cards {
    border-radius: 10px;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;

    position: relative;

    @include reponsive(tablette) {
        height: 300px;
    }

    @include reponsive(phone) {
        height: 255px;
    }

    .cards__name {
        position: absolute;
        left: 10px;
        bottom: 20px;
        font-size: 1.8rem;
        font-weight: 700;
        color: white;
    }
}

// ******** COLLAPSE ******** //
.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 0px; //TIBO 50px

    align-items: center;
    margin-bottom: 38px;

    @include reponsive(tablette) {
        gap: 30px;
        margin-bottom: 00px; //TIBO
    }
    @include reponsive(phone) {
        gap: 19px;
        margin-bottom: 0px; //TIBO
    }
}

.collapse {
    width: 70%;
    height: fit-content;
    border-radius: 5px;
    position: relative;

    @include reponsive(tablette) {
    }
    @include reponsive(phone) {
    }
    @include reponsive(tablette) {
        width: 100%;
    }

    @include reponsive(phone) {
        width: 100%;
    }
}

.collapse__header {
    position: relative;
    z-index: 2;
}

.collapse__header__title {
    display: inline-block;
    color: white;
    font-weight: 700;
    font-size: 24px;
    height: 54px;
    width: 100%;
    padding-left: 15px;
    padding-top: 13px;
    background-color: $my-red;
    border-radius: 5px;
    @include reponsive(tablette) {
        height: 40px;
        font-size: 18px;

        padding-left: 10px;
        padding-top: 9px;
    }

    @include reponsive(phone) {
        height: 30px;
        font-size: 13px;

        padding-left: 10px;
        padding-top: 7px;
    }
}

.collapse__content {
    background-color: $light-grey;
    width: 100%;
    height: 100%;
    padding: 15px 30px 15px 30px;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 0px 0px 5px 5px;
    @include reponsive(tablette) {
        font-size: 13px;
        padding: 15px 30px 15px 30px;
    }

    @include reponsive(phone) {
        font-size: 12px;
        padding: 11px;
    }
}

.fa-chevron-up,
.fa-chevron-down {
    position: absolute;
    right: 15px;
    top: 15px;
    color: white;

    @include reponsive(tablette) {
        right: 10px;
        top: 9px;
    }

    @include reponsive(phone) {
        right: 10px;
        top: 10px;
        font-size: 18px;
    }
}

.collapse__icon--open {
    animation-name: rotateChevronOpening;
    animation-duration: $animation-time;
    animation-timing-function: ease-out;
}

.collapse__icon--close {
    animation-name: rotateChevronClosing;
    animation-duration: $animation-time;
    animation-timing-function: ease-out;
}

.collapse--show {
    animation-name: translateCollapsingElementOpening;
    animation-duration: $animation-time;
    animation-timing-function: ease-out;
    z-index: 1;
    position: relative;
}

@keyframes rotateChevronOpening {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotateChevronClosing {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes translateCollapsingElementOpening {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    10% {
        opacity: 0;
        transform: translateY(-40px);
    }
    11% {
        opacity: 1;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.collapse--hide {
    animation: translateCollapsingElementClosing ease-out $animation-time;
    z-index: 1;
    position: relative;
}

.hide {
    display: none;
}
@keyframes translateCollapsingElementClosing {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    90% {
        opacity: 1;
        transform: translateY(-40px);
    }
    91% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}

// ******** LOGEMENT PAGE ******** //
.logement-caroussel {
    display: flex;
    position: relative;
    height: 415px;

    overflow: hidden;
    border-radius: 25px;

    @include reponsive(tablette) {
        height: 335px;
    }

    @include reponsive(phone) {
        height: 255px;
    }

    &__image {
        background-position: bottom;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }

    &__left-arrow {
        position: absolute;
        left: 24px;
        top: calc(50% - 40px);
        @include reponsive(tablette) {
            height: 20px;
            top: calc(50% - 20px);
        }

        @include reponsive(phone) {
            height: 20px;
            top: calc(50% - 10px);
        }
    }

    &__right-arrow {
        position: absolute;
        right: 24px;
        top: calc(50% - 40px);
        @include reponsive(tablette) {
            height: 20px;
            top: calc(50% - 15px);
        }

        @include reponsive(phone) {
            height: 20px;
            top: calc(50% - 10px);
        }
    }

    &__nbImage {
        color: white;
        font-size: 1.8rem;
        font-weight: 400;
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        @include reponsive(tablette) {
            display: none;
        }

        @include reponsive(phone) {
            height: 255px;
        }
    }
}

.logement-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @include reponsive(tablette) {
        flex-direction: column;
    }
    @include reponsive(phone) {
    }
    &-left {
        width: 50%;
        position: relative;
        @include reponsive(tablette) {
            width: 100%;
        }
        &__title {
            color: $my-red;
            font-size: 36px;
            font-weight: 500;
            @include reponsive(tablette) {
                font-size: 24px;
            }

            @include reponsive(phone) {
                font-size: 18px;
            }
        }
        &__subtitle {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
            @include reponsive(tablette) {
                margin-top: 5px;
                font-size: 16px;
            }

            @include reponsive(phone) {
                font-size: 14px;
            }
        }
        &__tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        &__tag {
            display: flex;
            justify-content: center;
            align-items: center;

            font-weight: 600;
            height: 25px;
            color: white;
            border-radius: 10px;
            min-width: 115px;
            padding-right: 10px;
            padding-left: 10px;
            background-color: $my-red;
            font-size: 1.4rem;
            @include reponsive(tablette) {
                margin-top: 5px;
                font-size: 12px;
                min-width: 84px;
            }

            @include reponsive(phone) {
                font-size: 10px;
            }
        }
    }
    &-right {
        width: 50%;
        position: relative;

        @include reponsive(tablette) {
            width: 100%;
            height: 33px;
            margin-top: 16px;
        }
        @include reponsive(phone) {
            height: 33px;
            margin-top: 16px;
        }
        &__owner-image {
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 100px;
            width: 64px;
            height: 64px;
            justify-content: center;
            vertical-align: center;
            overflow: hidden;
            @include reponsive(tablette) {
                width: 48px;
                height: 48px;
            }
            @include reponsive(phone) {
                width: 32px;
                height: 32px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }
        }
        &__owner-infos {
            position: absolute;
            right: calc(64px + 10px);
            display: flex;
            flex-direction: column;
            color: $my-red;
            font-size: 1.8rem;
            align-items: flex-end;
            @include reponsive(tablette) {
                right: calc(48px + 10px);
            }
            @include reponsive(phone) {
                right: calc(32px + 10px);
            }
            & p {
                @include reponsive(tablette) {
                    font-size: 15px;
                }
                @include reponsive(phone) {
                    font-size: 12px;
                }
            }
        }
        &__owner-ratings {
            position: absolute;
            right: 0;
            bottom: 0;

            display: flex;
            width: 191px;
            justify-content: space-between;
            @include reponsive(tablette) {
                width: 98px;
                left: 0;
                top: 8px;
                & img {
                    height: 13px;
                }
            }
            @include reponsive(phone) {
            }
        }
    }
}

.logement-collapses {
    display: flex;
    justify-content: space-between;
    gap: 56px;
    margin-bottom: 50px;

    @include reponsive(tablette) {
        margin-top: 0px;
        flex-direction: column;
        gap: 38px;
        margin-bottom: 30px;
        width: 100%;
    }
    @include reponsive(phone) {
        flex-direction: column;
        margin-top: 0px;
        height: 100%;
        gap: 20px;
        margin-bottom: 0px;
        width: 100%;
    }
    &__left {
        width: 100%;
    }
    &__right {
        width: 100%;
    }
}

.isList {
    ul {
        list-style-type: none;

        li {
            font-size: 1.4rem;
            @include reponsive(tablette) {
                font-size: 1.3rem;
            }
            @include reponsive(phone) {
                font-size: 1.2rem;
            }
        }
    }
}
// ******** ERROR PAGE ******** //
.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 139px;
    margin-top: 139px;
    margin-bottom: 139px;
    color: $my-red;
    @include reponsive(tablette) {
        gap: 120px;
        margin-top: 120px;
        margin-bottom: 120px;
    }
    @include reponsive(phone) {
        gap: 112px;
        margin-top: 112px;
        margin-bottom: 112px;
    }

    &__logo {
        display: inline-block;
        @include reponsive(tablette) {
            height: 180px;
        }
        @include reponsive(phone) {
            height: 100px;
        }
    }

    &__main-message {
        font-size: 21.5rem;
        font-weight: 800;
    }

    &__second-message {
        font-size: 3.6rem;
        font-weight: 500;
        @include reponsive(tablette) {
            font-size: 32px;
            text-align: center;
            width: 76%;
        }
        @include reponsive(phone) {
            font-size: 18px;
        }
    }
    &__back-link {
        font-size: 1.8rem;
        font-weight: 500;
        color: #000;
        @include reponsive(tablette) {
            font-size: 16px;
        }
        @include reponsive(phone) {
            font-size: 14px;
        }
    }
}
// ******** FOOTER ******** //
footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 210px;
    color: white;
    background-color: black;
    gap: 15px;

    img {
        width: 122px;
        margin-top: 66px;
    }

    p {
        display: flex;
        color: white;
        // align-items: baseline;
        font-weight: 500;
        @include reponsive(phone) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 130px;
            font-size: 12px;
            align-items: center;
        }
    }
}
