* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  max-width: 1440px; }

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  margin: auto; }

.header {
  display: flex;
  justify-content: space-between;
  margin: 45px 100px 50px 100px; }
  @media (max-width: 960px) {
    .header {
      margin: 20px; } }
  .header img {
    display: block;
    height: 68px; }
    @media (max-width: 960px) {
      .header img {
        height: 57px; } }
    @media (max-width: 450px) {
      .header img {
        height: 47px; } }
  @media (max-width: 450px) {
    .header {
      margin: 20px; } }

h2 {
  color: pink; }

.navigation {
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%; }
  @media (max-width: 960px) {
    .navigation {
      position: relative;
      gap: 26px; } }
  @media (max-width: 450px) {
    .navigation {
      position: relative;
      gap: 26px; } }
  .navigation li {
    font-family: "Montserrat", sans-serif;
    font-size: 2.4rem;
    color: black;
    display: inline-block;
    margin-left: 57px; }
    @media (max-width: 960px) {
      .navigation li {
        display: flex;
        margin-left: 0px;
        position: relative;
        gap: 32px; } }
    @media (max-width: 450px) {
      .navigation li {
        display: flex;
        margin-left: 0px;
        position: relative;
        gap: 26px; } }
  .navigation a {
    text-decoration: none;
    color: black;
    font-weight: 500; }
    @media (max-width: 960px) {
      .navigation a {
        text-transform: uppercase;
        color: black;
        font-size: 18px; } }
    @media (max-width: 450px) {
      .navigation a {
        text-transform: uppercase;
        color: black;
        font-size: 12px; } }
    .navigation a:hover {
      text-decoration: underline; }
    .navigation a .underlined {
      text-decoration: underline;
      color: blue; }

.main {
  display: flex;
  flex-direction: column;
  margin: 0 100px 50px 100px;
  gap: 43px; }
  @media (max-width: 960px) {
    .main {
      margin: 0 20px;
      margin-bottom: 40px;
      gap: 30px; } }
  @media (max-width: 450px) {
    .main {
      margin: 0px 20px;
      margin-bottom: 27px;
      gap: 20px; } }

.banner {
  height: 223px;
  border-radius: 25px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("");
  background-size: cover;
  background-position: center;
  position: relative; }
  @media (max-width: 960px) {
    .banner {
      height: 167px;
      border-radius: 18px; } }
  @media (max-width: 450px) {
    .banner {
      height: 111px;
      border-radius: 10px; } }
  .banner__text {
    display: inline-block;
    color: white;
    font-size: 4.8rem;
    font-weight: 700;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 960px) {
      .banner__text {
        color: white;
        font-size: 36px;
        width: 90%;
        white-space: unset;
        left: 16px;
        transform: translate(0, -50%); } }
    @media (max-width: 450px) {
      .banner__text {
        display: flex;
        width: 225px;
        left: 16px;
        transform: translate(0, -50%);
        white-space: unset;
        color: white;
        font-size: 24px; } }
  .banner__text::after {
    content: "Chez vous, partout et ailleurs";
    display: inline-block;
    color: blue;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    text-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px; }
    @media (max-width: 960px) {
      .banner__text::after {
        display: none;
        font-size: 24px; } }

.text-stroke {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  @media (max-width: 960px) {
    .text-stroke {
      text-shadow: none; } }

.underlined {
  text-decoration: underline !important; }

.affichage-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-bottom: 0px;
  width: 100%;
  padding: 56px 50px 50px 50px;
  position: relative; }
  @media (max-width: 960px) {
    .affichage-cards {
      grid-template-columns: 1fr;
      padding: 0;
      background: none;
      gap: 36px;
      margin-bottom: 0px; } }
  @media (max-width: 450px) {
    .affichage-cards {
      grid-template-columns: 1fr;
      padding: 0;
      gap: 22px;
      background: none;
      margin-bottom: 0px; } }

.cards {
  border-radius: 10px;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  position: relative; }
  @media (max-width: 960px) {
    .cards {
      height: 300px; } }
  @media (max-width: 450px) {
    .cards {
      height: 255px; } }
  .cards .cards__name {
    position: absolute;
    left: 10px;
    bottom: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    color: white; }

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 0px;
  align-items: center;
  margin-bottom: 38px; }
  @media (max-width: 960px) {
    .content {
      gap: 30px;
      margin-bottom: 00px; } }
  @media (max-width: 450px) {
    .content {
      gap: 19px;
      margin-bottom: 0px; } }

.collapse {
  width: 82%;
  height: fit-content;
  border-radius: 5px;
  position: relative; }
  @media (max-width: 960px) {
    .collapse {
      width: 100%; } }
  @media (max-width: 450px) {
    .collapse {
      width: 100%; } }

.collapse__header {
  position: relative;
  z-index: 2; }

.collapse__header__title {
  display: inline-block;
  color: white;
  font-weight: 700;
  font-size: 24px;
  height: 54px;
  width: 100%;
  padding-left: 15px;
  padding-top: 13px;
  background-color: #ff6060;
  border-radius: 5px; }
  @media (max-width: 960px) {
    .collapse__header__title {
      height: 40px;
      font-size: 18px;
      padding-left: 10px;
      padding-top: 9px; } }
  @media (max-width: 450px) {
    .collapse__header__title {
      height: 30px;
      font-size: 13px;
      padding-left: 10px;
      padding-top: 7px; } }

.collapse__content {
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  padding: 15px 30px 15px 30px;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 0px 0px 5px 5px; }
  @media (max-width: 960px) {
    .collapse__content {
      font-size: 13px;
      padding: 15px 30px 15px 30px; } }
  @media (max-width: 450px) {
    .collapse__content {
      font-size: 12px;
      padding: 11px; } }

.fa-chevron-up,
.fa-chevron-down {
  position: absolute;
  right: 15px;
  top: 15px;
  color: white; }
  @media (max-width: 960px) {
    .fa-chevron-up,
    .fa-chevron-down {
      right: 10px;
      top: 9px; } }
  @media (max-width: 450px) {
    .fa-chevron-up,
    .fa-chevron-down {
      right: 10px;
      top: 10px;
      font-size: 18px; } }

.collapse__icon--open {
  animation-name: rotateChevronOpening;
  animation-duration: 0.25s;
  animation-timing-function: ease-out; }

.collapse__icon--close {
  animation-name: rotateChevronClosing;
  animation-duration: 0.25s;
  animation-timing-function: ease-out; }

.collapse--show {
  animation-name: translateCollapsingElementOpening__desktop;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
  z-index: 1;
  position: relative; }
  @media (max-width: 960px) {
    .collapse--show {
      animation-name: translateCollapsingElementOpening__tablette; } }
  @media (max-width: 450px) {
    .collapse--show {
      animation-name: translateCollapsingElementOpening__phone; } }

@keyframes rotateChevronOpening {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes rotateChevronClosing {
  0% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes translateCollapsingElementOpening__desktop {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  10% {
    opacity: 0;
    transform: translateY(-54px); }
  11% {
    opacity: 1;
    transform: translateY(-54px); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

@keyframes translateCollapsingElementOpening__tablette {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  10% {
    opacity: 0;
    transform: translateY(-40px); }
  11% {
    opacity: 1;
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

@keyframes translateCollapsingElementOpening__phone {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  10% {
    opacity: 0;
    transform: translateY(-30px); }
  11% {
    opacity: 1;
    transform: translateY(-30px); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

.collapse--hide {
  animation: translateCollapsingElementClosing__desktop ease-out 0.25s;
  z-index: 1;
  position: relative; }
  @media (max-width: 960px) {
    .collapse--hide {
      animation: translateCollapsingElementClosing__tablette ease-out 0.25s; } }
  @media (max-width: 450px) {
    .collapse--hide {
      animation: translateCollapsingElementClosing__phone ease-out 0.25s; } }

.hide {
  display: none; }

@keyframes translateCollapsingElementClosing__desktop {
  0% {
    opacity: 1;
    transform: translateY(0%); }
  90% {
    opacity: 1;
    transform: translateY(-54px); }
  91% {
    opacity: 0;
    transform: translateY(-54px); }
  100% {
    opacity: 1;
    transform: translateY(-100%); } }

@keyframes translateCollapsingElementClosing__tablette {
  0% {
    opacity: 1;
    transform: translateY(0%); }
  90% {
    opacity: 1;
    transform: translateY(-40px); }
  91% {
    opacity: 0;
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    transform: translateY(-100%); } }

@keyframes translateCollapsingElementClosing__phone {
  0% {
    opacity: 1;
    transform: translateY(0%); }
  90% {
    opacity: 1;
    transform: translateY(-30px); }
  91% {
    opacity: 0;
    transform: translateY(-30px); }
  100% {
    opacity: 1;
    transform: translateY(-100%); } }

.logement-caroussel {
  display: flex;
  position: relative;
  height: 415px;
  overflow: hidden;
  border-radius: 25px; }
  @media (max-width: 960px) {
    .logement-caroussel {
      height: 335px; } }
  @media (max-width: 450px) {
    .logement-caroussel {
      height: 255px; } }
  .logement-caroussel__image {
    background-position: bottom;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 25px; }
  .logement-caroussel__left-arrow {
    position: absolute;
    left: 24px;
    top: calc(50% - 40px); }
    @media (max-width: 960px) {
      .logement-caroussel__left-arrow {
        height: 40px;
        top: calc(50% - 20px);
        left: 15px; } }
    @media (max-width: 450px) {
      .logement-caroussel__left-arrow {
        height: 20px;
        top: calc(50% - 10px);
        left: 6px; } }
  .logement-caroussel__right-arrow {
    position: absolute;
    right: 24px;
    top: calc(50% - 40px); }
    @media (max-width: 960px) {
      .logement-caroussel__right-arrow {
        height: 40px;
        top: calc(50% - 15px);
        right: 15px; } }
    @media (max-width: 450px) {
      .logement-caroussel__right-arrow {
        height: 20px;
        top: calc(50% - 10px);
        right: 6px; } }
  .logement-caroussel__nbImage {
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%); }
    @media (max-width: 960px) {
      .logement-caroussel__nbImage {
        display: none; } }
    @media (max-width: 450px) {
      .logement-caroussel__nbImage {
        height: 255px; } }

.logement-info {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  @media (max-width: 960px) {
    .logement-info {
      flex-direction: column; } }
  .logement-info-left {
    width: 50%;
    position: relative; }
    @media (max-width: 960px) {
      .logement-info-left {
        width: 100%; } }
    .logement-info-left__title {
      color: #ff6060;
      font-size: 36px;
      font-weight: 500; }
      @media (max-width: 960px) {
        .logement-info-left__title {
          font-size: 24px; } }
      @media (max-width: 450px) {
        .logement-info-left__title {
          font-size: 18px; } }
    .logement-info-left__subtitle {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px; }
      @media (max-width: 960px) {
        .logement-info-left__subtitle {
          margin-top: 5px;
          font-size: 16px; } }
      @media (max-width: 450px) {
        .logement-info-left__subtitle {
          font-size: 14px; } }
    .logement-info-left__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px; }
    .logement-info-left__tag {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      height: 25px;
      color: white;
      border-radius: 10px;
      min-width: 115px;
      padding-right: 10px;
      padding-left: 10px;
      background-color: #ff6060;
      font-size: 1.4rem; }
      @media (max-width: 960px) {
        .logement-info-left__tag {
          margin-top: 5px;
          font-size: 12px;
          min-width: 84px; } }
      @media (max-width: 450px) {
        .logement-info-left__tag {
          font-size: 10px; } }
  .logement-info-right {
    width: 50%;
    position: relative; }
    @media (max-width: 960px) {
      .logement-info-right {
        width: 100%;
        height: 48px;
        margin-top: 16px; } }
    @media (max-width: 450px) {
      .logement-info-right {
        height: 33px;
        margin-top: 16px; } }
    .logement-info-right__owner-image {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 100px;
      width: 64px;
      height: 64px;
      justify-content: center;
      vertical-align: center;
      overflow: hidden; }
      @media (max-width: 960px) {
        .logement-info-right__owner-image {
          width: 48px;
          height: 48px; } }
      @media (max-width: 450px) {
        .logement-info-right__owner-image {
          width: 32px;
          height: 32px; } }
      .logement-info-right__owner-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%; }
    .logement-info-right__owner-infos {
      position: absolute;
      right: calc(64px + 10px);
      display: flex;
      flex-direction: column;
      color: #ff6060;
      font-size: 1.8rem;
      align-items: flex-end; }
      @media (max-width: 960px) {
        .logement-info-right__owner-infos {
          right: calc(48px + 10px); } }
      @media (max-width: 450px) {
        .logement-info-right__owner-infos {
          right: calc(32px + 10px); } }
      @media (max-width: 960px) {
        .logement-info-right__owner-infos p {
          font-size: 15px; } }
      @media (max-width: 450px) {
        .logement-info-right__owner-infos p {
          font-size: 12px; } }
    .logement-info-right__owner-ratings {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      width: 191px;
      justify-content: space-between; }
      @media (max-width: 960px) {
        .logement-info-right__owner-ratings {
          width: 98px;
          left: 0;
          bottom: 0px;
          align-items: center;
          height: 48px; }
          .logement-info-right__owner-ratings img {
            height: 16px; } }
      @media (max-width: 450px) {
        .logement-info-right__owner-ratings {
          width: 98px;
          left: 0;
          bottom: 0px;
          height: 32px;
          align-items: center; }
          .logement-info-right__owner-ratings img {
            height: 13px; } }

.logement-collapses {
  display: flex;
  justify-content: space-between;
  gap: 56px; }
  @media (max-width: 960px) {
    .logement-collapses {
      margin-top: 0px;
      flex-direction: column;
      gap: 38px;
      width: 100%; } }
  @media (max-width: 450px) {
    .logement-collapses {
      flex-direction: column;
      margin-top: 0px;
      height: 100%;
      gap: 20px;
      width: 100%; } }
  .logement-collapses__left {
    width: 100%; }
  .logement-collapses__right {
    width: 100%; }

.isList ul {
  list-style-type: none; }
  .isList ul li {
    font-size: 1.4rem; }
    @media (max-width: 960px) {
      .isList ul li {
        font-size: 1.3rem; } }
    @media (max-width: 450px) {
      .isList ul li {
        font-size: 1.2rem; } }

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 139px;
  margin-top: 139px;
  margin-bottom: 139px;
  color: #ff6060; }
  @media (max-width: 960px) {
    .error-page {
      gap: 120px;
      margin-top: 120px;
      margin-bottom: 120px; } }
  @media (max-width: 450px) {
    .error-page {
      gap: 112px;
      margin-top: 112px;
      margin-bottom: 112px; } }
  .error-page__logo {
    display: inline-block; }
    @media (max-width: 960px) {
      .error-page__logo {
        height: 180px; } }
    @media (max-width: 450px) {
      .error-page__logo {
        height: 100px; } }
  .error-page__main-message {
    font-size: 21.5rem;
    font-weight: 800; }
  .error-page__second-message {
    font-size: 3.6rem;
    font-weight: 500; }
    @media (max-width: 960px) {
      .error-page__second-message {
        font-size: 32px;
        text-align: center;
        width: 76%; } }
    @media (max-width: 450px) {
      .error-page__second-message {
        font-size: 18px; } }
  .error-page__back-link {
    font-size: 1.8rem;
    font-weight: 500;
    color: #000; }
    @media (max-width: 960px) {
      .error-page__back-link {
        font-size: 16px; } }
    @media (max-width: 450px) {
      .error-page__back-link {
        font-size: 14px; } }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
  color: white;
  background-color: black;
  gap: 15px;
  position: relative; }
  footer img {
    width: 122px;
    margin-top: 66px; }
  footer p {
    display: flex;
    color: white;
    font-weight: 500;
    margin-top: 28px; }
    @media (max-width: 960px) {
      footer p {
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        width: 130px;
        position: absolute;
        top: 120px;
        height: 46px;
        font-size: 15px;
        margin-top: 0px; } }
    @media (max-width: 450px) {
      footer p {
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        width: 130px;
        position: absolute;
        top: 105px;
        height: 46px;
        font-size: 12px;
        margin-top: 0px; } }

.setFontsizeForPageLogement {
  font-size: 18px;
  padding-left: 15px;
  padding-top: 15px; }
  @media (max-width: 960px) {
    .setFontsizeForPageLogement {
      font-size: 15px;
      padding-left: 10px;
      padding-top: 9px; } }
  @media (max-width: 450px) {
    .setFontsizeForPageLogement {
      font-size: 13px;
      padding-left: 10px;
      padding-top: 7px; } }
