* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem; }

:root {
  font-size: 10px; }

.header {
  display: flex;
  justify-content: space-between;
  margin: 45px 100px 50px 100px; }
  @media (max-width: 400px) {
    .header {
      margin: 20px; } }
  .header img {
    display: block;
    height: 68px; }
    @media (max-width: 400px) {
      .header img {
        height: 47px; } }

h2 {
  color: pink; }

.navigation {
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%; }
  @media (max-width: 400px) {
    .navigation {
      position: relative;
      gap: 26px; } }
  .navigation li {
    font-family: "Montserrat", sans-serif;
    font-size: 2.4rem;
    color: black;
    display: inline-block;
    margin-left: 57px; }
    @media (max-width: 400px) {
      .navigation li {
        display: flex;
        margin-left: 0px;
        position: relative;
        gap: 26px; } }
  .navigation a {
    text-decoration: none;
    color: black;
    font-weight: 500; }
    @media (max-width: 400px) {
      .navigation a {
        text-transform: uppercase;
        color: black;
        font-size: 12px; } }
    .navigation a:hover {
      text-decoration: underline; }
    .navigation a .underlined {
      text-decoration: underline;
      color: blue; }

.main {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
  gap: 43px; }
  @media (max-width: 400px) {
    .main {
      margin: 0 20px; } }

.banner {
  height: 223px;
  border-radius: 25px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("");
  background-size: cover;
  background-position: center;
  position: relative; }
  .banner__text {
    display: flex;
    color: white;
    font-size: 4.8rem;
    font-weight: 700;
    width: fit-content;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 960px) {
      .banner__text {
        color: pink; } }
    @media (max-width: 400px) {
      .banner__text {
        color: orange; } }
  .banner__text::after {
    content: "Chez vous, partout et ailleurs";
    display: inline-block;
    color: blue;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    text-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px; }

.text-stroke {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.underlined {
  text-decoration: underline !important; }

.affichage-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-bottom: 50px;
  width: 100%;
  padding: 56px 50px 50px 50px;
  position: relative; }

.cards {
  border-radius: 10px;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  position: relative; }
  .cards .cards__name {
    position: absolute;
    left: 10px;
    bottom: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    color: white; }

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px; }

.collapse {
  width: 70%;
  height: fit-content;
  border-radius: 5px;
  position: relative; }

.collapse__header {
  position: relative;
  z-index: 2; }

.collapse__header__title {
  display: inline-block;
  color: white;
  font-weight: 700;
  font-size: 24px;
  height: 54px;
  width: 100%;
  padding-left: 15px;
  padding-top: 13px;
  background-color: #ff6060;
  border-radius: 5px; }

.collapse__content {
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  padding: 15px 30px 15px 30px;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 0px 0px 5px 5px; }

.fa-chevron-up,
.fa-chevron-down {
  position: absolute;
  right: 15px;
  top: 15px;
  color: white; }

.collapse__icon--open {
  animation-name: rotateChevronOpening;
  animation-duration: 0.2s;
  animation-timing-function: ease-out; }

.collapse__icon--close {
  animation-name: rotateChevronClosing;
  animation-duration: 0.2s;
  animation-timing-function: ease-out; }

.collapse--show {
  animation-name: translateCollapsingElementOpening;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  z-index: 1;
  position: relative; }

@keyframes rotateChevronOpening {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes rotateChevronClosing {
  0% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes translateCollapsingElementOpening {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  10% {
    opacity: 0;
    transform: translateY(-40px); }
  11% {
    opacity: 1;
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

.collapse--hide {
  animation: translateCollapsingElementClosing ease-out 0.2s;
  z-index: 1;
  position: relative; }

.hide {
  display: none; }

@keyframes translateCollapsingElementClosing {
  0% {
    opacity: 1;
    transform: translateY(0%); }
  90% {
    opacity: 1;
    transform: translateY(-40px); }
  91% {
    opacity: 0;
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    transform: translateY(-100%); } }

.logement-caroussel {
  display: flex;
  position: relative;
  height: 415px;
  overflow: hidden;
  border-radius: 25px; }
  .logement-caroussel__image {
    background-position: bottom;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 25px; }
  .logement-caroussel__left-arrow {
    position: absolute;
    left: 24px;
    top: calc(50% - 40px); }
  .logement-caroussel__right-arrow {
    position: absolute;
    right: 24px;
    top: calc(50% - 40px); }
  .logement-caroussel__nbImage {
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%); }

.logement-info {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  .logement-info-left {
    width: 50%;
    position: relative; }
    .logement-info-left__title {
      color: #ff6060;
      font-size: 36px;
      font-weight: 500; }
    .logement-info-left__subtitle {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px; }
    .logement-info-left__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px; }
    .logement-info-left__tag {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      height: 25px;
      color: white;
      border-radius: 10px;
      min-width: 115px;
      padding-right: 10px;
      padding-left: 10px;
      background-color: #ff6060;
      font-size: 1.4rem; }
  .logement-info-right {
    width: 50%;
    position: relative; }
    .logement-info-right__owner-image {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 100px;
      width: 64px;
      height: 64px;
      justify-content: center;
      vertical-align: center;
      overflow: hidden; }
      .logement-info-right__owner-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%; }
    .logement-info-right__owner-infos {
      position: absolute;
      right: calc(64px + 10px);
      display: flex;
      flex-direction: column;
      color: #ff6060;
      font-size: 1.8rem;
      align-items: flex-end; }
    .logement-info-right__owner-ratings {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      width: 191px;
      justify-content: space-between; }

.logement-collapses {
  display: flex;
  justify-content: space-between;
  gap: 6%;
  margin-bottom: 50px; }
  .logement-collapses__left {
    width: 100%; }
  .logement-collapses__right {
    width: 100%; }

.isList ul {
  list-style-type: none; }
  .isList ul li {
    font-size: 1.4rem; }

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 139px;
  margin-top: 139px;
  margin-bottom: 139px;
  color: #ff6060; }
  .error-page__error-page_logo {
    display: inline-block;
    height: 20px; }
  .error-page__main-message {
    font-size: 21.5rem;
    font-weight: 800; }
  .error-page__second-message {
    font-size: 3.6rem;
    font-weight: 500; }
  .error-page__back-link {
    font-size: 1.8rem;
    font-weight: 500;
    color: #000; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
  color: white;
  background-color: black;
  gap: 30px; }
  footer img {
    width: 122px;
    margin-top: 66px; }
  footer p {
    display: flex;
    color: white;
    align-items: baseline;
    font-weight: 400; }
